
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
}
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #3a3a3a;
    font-family: lato, sans-serif;
    font-weight: 300;
}
h1, h2{
    font-family: Oswald,sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #000000;
}
#logo{
    float: left;
    font-size: 260%;

}
#menu{
    font-size: 100%;
    letter-spacing: 3px;

}
#menu, #logo{
    line-height: 75px;
}
#menu li{
    float: right;
    list-style-type: none;
    margin-right: 30px;
}
#menu a{
    text-decoration: none;
    color: inherit;
}
#menu a:hover{
    border-bottom:1px solid #000000 ;
}
.active{
    border-bottom: 1px solid #000000;
}
#hero-outer{
    height: 600px;
    width: 100%;
    overflow: hidden;

}
#hero-image{
    height: 600px;
    width: 100%;
    background: url("../images/hero-image.jpg")no-repeat center top/cover;
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}
@keyframes hero-zoom{
    from{transform: scale(1);

    }
    to{
        transform: scale(1.1);

    }
}
header{
    background-color: #ffffff;
    
}
main{
    background-color: #ffffff;
    flex: 1 0 auto;
}
footer{
    background-color: #ffffff;
}