
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #3a3a3a;
    font-family: lato, sans-serif;
    font-weight: 300;
}
h1, h2{
    font-family: Oswald,sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #000000;
}
#logo{
    float: left;
    font-size: 260%;
    margin-left: 30px;

}
#menu{
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;

}

#menu> li{
    margin-bottom: 1 rem;
}
#menu a{
    text-decoration: none;
    color: inherit;
}
#menu a:hover{
    border-bottom:1px solid #000000 ;
}
.active{
    border-bottom: 1px solid #000000;
}
nav{
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;
}
#nav-toggle:checked~nav{
    display: block;
}
#nav-toggle-label{
    font-size: 2rem;

}
#hero-outer{
    height: 600px;
    width: 100%;
    overflow: hidden;

}
#hero-image{
    height: 600px;
    width: 100%;
    background: url("../images/hero-image.jpg")no-repeat center top/cover;
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}
@keyframes hero-zoom{
    from{transform: scale(1);

    }
    to{
        transform: scale(1.1);

    }
}
header{
    background-color: #ffffff;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    
}
header a{
    text-decoration: none;
    color: inherit;
}
main{
    background-color: #ffffff;
    flex: 1 0 auto;
    margin-top: 47px;
    display: flex;
    flex-direction: column;
}
#kids-shop{
   width: 90%;
   margin: 20px auto;
}
#kids-shop>p{
    padding: 0 20px;
    
}
#welcome{
    text-align: center;
    margin-bottom: 20px;
    font-size: 280%;
}
#end-image{
    height: 400px; 
    width: 100%;
    background:url("../images/end-image.jpg") no-repeat center center/cover;
    
}
footer{
    background-color: #ffffff;
    height: 150px;
}
.social-media{
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}
.social-media> li{
    display: inline;
}
.social-media i{
    font-size: 160%;
    padding: 5%;
    color: #3a3a3a;
}
#cover-image{
    height: 600px;
    width: 100%;
    background: url("../images/cover-image.jpg") no-repeat center top/cover;
}
#shop-profile{
    height: 600px;
}
#shop-profile> p{
   padding: 0 20px;
}
#about{
    text-align: center;
    margin: 50px 0;
    font-size: 230%;
    letter-spacing: 3px;
}
#kids-outfits{
    height: 600px;
    margin-left: 300px;
}

#left-outfits > div,
#right-outfits > div,
#center-outfits > div{
    line-height: 20px;
    margin-bottom: 20px;
}
.left-outfits-image{
    width: 40%;
    margin-bottom: 50px;
    
}    
#kiddy{
    text-align: center;
    margin-right: 300px;
    font-size: 230%;
}
.left-outfits-image> img{
    height: 300px;
    width: 100%;
}
.right-outfits-image{
    width: 40%;
    margin-bottom: 50px;
}
.right-outfits-image> img{
    height: 300px;
    width: 100%;
}
.center-outfits-image{
    width: 40%;
    margin-bottom: 80px;
}
.center-outfits-image> img{
    height: 300px;
    width: 100%;

    
}
#contactus{
    background-image: url("../images/contactus-image.jpg");
    background-size: cover;
    background-position: center;
    padding: 20px 10% 0 10%;
    flex-grow: 1;
}
#contactus-form{
    color: #ffffff;
    background-color: rgba(60, 60, 60, 0.6);
    padding: 30%;
    

}
#contactus-form> h5{
    color: #000000;
    margin-bottom: 20px;
   
}
.text-input{
    background: transparent;
    color: #000000;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #000000;
    border-radius: 2px;
    padding: 0 5px;
}
.join-button{
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px;
    font-size: 100%;
    background-color: #000000;
    color: #ffffff;
}
@media screen and (min-width: 768px) {
    nav{
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;

    }
    #menu{
        display: flex;
        padding-bottom: 20px;
    }
    #menu > li{
        padding-left: 1rem;
    }
    .nav-toggle-label{
        display: none;
    }
    #logo{
        font-size: 280%;
        line-height: 70px;
        margin: 0 0 0.5rem;
    }
    main{
        margin-top: 79px;
    }
    #contactus{
        background-position: center;
        position: relative;
    }
    #contactus-form{
        max-width: 500px;
        
        left: 10%;
        top: 150%;
    }
    .text-input:hover{
        background-color: #3a3a3a;
    }
    .join-button:hover{
        background-color: #000000;
        color: #ffffff;
    }
}
@media screen and (min-width:992px){
    #menu a:hover{
        border-bottom: 1px solid #3a3a3a
    }
    
    #contactus{   
         background-position: center center/cover;
    }
    #contactus-form{
        max-width: 100%;
        position: relative;
        left: -10%;

    }
    #contactus-form> h5{
        font-size: 200%;
    }
    
        


}